@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Outfit", sans-serif;
  background: hsl(217, 54%, 11%);
  height: 100vh;
}

.main {
  box-shadow: 0px 0px 43px -10px rgb(0 0 0 / 45%);
  border-radius: 10px;
  height: fit-content;
  background: hsl(216, 50%, 16%);
}

.main .main-box {
  padding: 15px;
}

.main-box:hover .overlay {
  opacity: 1;
}

.main-box .image {
  box-shadow: 0px 0px 35px -10px rgb(0 0 0 / 40%);
  width: 270px;
  align-items: center;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.overlay {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: hsla(178, 100%, 50%, 0.6);
  display: flex;
  opacity: 0;
  transition: 0.5s ease-in-out;
  align-items: center;
  justify-content: center;
}

.main .main-box .image .main-img {
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.overlay .view {
  width: 60px;
}

.main .main-box .image .main-img:hover {
  image-resolution: 0;
}

.main-box .text {
  color: #fff;
}

.main-box .text h1 {
  font-size: 20px;
  cursor: pointer;
  padding: 12px 0;
  transition: all 0.3s ease;
}

.main-box .text h1:hover {
  color: hsl(178, 100%, 50%);
}

.main-box .text p {
  font-size: 17px;
  font-weight: 600;
  color: hsl(215, 32%, 27%);
}

.main-box .avatar {
  margin-top: 15px;
  padding-top: 10px;
  display: flex;
  align-items: center;
  border-top: 1px solid hsl(215, 27%, 37%);
}

.main-box .avatar .box-1 {
  border: 1px solid #fff;
  border-radius: 66%;
  width: 30px;
}

.main-box .avatar .box-1 img {
  width: 100%;
}

.main-box .avatar h2 {
  font-weight: 600;
  font-size: 15px;
  margin-left: 10px;
  color: hsl(215, 32%, 27%);
}

.main-box .avatar h2 span {
  cursor: pointer;
  transition: all 0.3s ease;
  color: #fff;
}

.main-box .avatar h2 span:hover {
  color: hsl(178, 100%, 50%);
}

.mid {
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
}

.mid .eth {
  align-items: center;
  display: flex;
}

.main .eth h3 {
  font-size: 15px;
  margin-left: 10px;
  color: hsl(178, 100%, 50%);
}

.mid .clock {
  align-items: center;
  display: flex;
}

.mid .clock h3 {
  font-size: 15px;
  margin-left: 10px;
  color: hsl(215, 32%, 27%);
}
